<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ .Title }}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <link rel="stylesheet" href="{{ "css/main.css" | relURL }}">
</head>
<body>

  {{ partial "nav.html" . }}

  <main class="blog-post">

    <header class="blog-post-header">
      <h1>{{ .Title }}</h1>

      {{ with .Params.subtitle }}
        <p class="blog-post-subtitle">{{ . }}</p>
      {{ end }}

      <time class="blog-post-date">
        {{ .Date.Format "January 02, 2006" }}
      </time>
    </header>

    <article class="blog-post-content">
      {{ .Content }}
    </article>

  </main>

  {{ partial "footer.html" . }}

</body>
</html>