<footer class="site-footer">
  <div class="footer-icons">
    <a
      href="https://github.com/AndrewJSut"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="GitHub"
    >
      <i class="fa-brands fa-github"></i>
    </a>

    <a
      href="mailto:andrew.sutcliffe@hec.ca"
      aria-label="Email"
    >
      <i class="fa-solid fa-envelope"></i>
    </a>
    <a
      href="https://www.linkedin.com/in/andrew-j-sutcliffe/"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="LinkedIn"
    >
      <i class="fa-brands fa-linkedin"></i>
    </a>
  </div>
  <p class="footer-note">
    Made and designed by Andrew Sutcliffe · {{ now.Year }}
  </p>
</footer>